img {
  max-width: 100%;
}

section {
  margin-bottom: 100px;
}

h3,
.h3 {
  font-size: 32px;
  font-weight: 500;
}

.header {
  top: 0;
}

.header-spacer.static {
  margin-bottom: 62px;
}

.menu-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-item svg {
  fill: #333;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  margin: 0 0 3px 5px;
  -webkit-transform: scale(0.84);
  -ms-transform: scale(0.84);
  transform: scale(0.84);
}

.menu-item:hover svg {
  fill: #ff7600;
}

.tab-page__nav {
  margin-bottom: -1px;
  white-space: nowrap;
  overflow: auto;
  scrollbar-width: none;
}

.tab-page__nav::-webkit-scrollbar {
  height: 0;
  width: 0;
  display: none;
}

.tab-page__nav a {
  font-size: 20px;
  display: inline-block;
  padding: 16px 20px 17px;
  margin-right: 10px;
  border-bottom: 0;
}

.tab-page__nav a:last-child {
  margin-right: 0;
}

.tab-page__nav a:hover {
  color: #333;
}

.tab-page__nav a.active {
  border-radius: 8px 8px 0px 0px;
  border-top: 1px solid #CACACA;
  border-right: 1px solid #CACACA;
  border-left: 1px solid #CACACA;
  background: #fff;
  pointer-events: none;
}

.tab-page__blocks {
  border-radius: 0px 0px 8px 8px;
  border: 1px solid #CACACA;
}

.tab-page__block {
  padding: 40px;
}

.tab-page__block p,
.tab-page__block li {
  font-size: 20px;
}

.tab-page__block li:before {
  background-color: #000;
}

.tab-page__block .image {
  max-width: 860px;
  margin-bottom: 24px;
}

.tab-page__block.active {
  display: block;
}

.tab-page__content {
  max-width: 1000px;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  50% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  100% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  50% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  100% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

.item-report {
  border-radius: 8px;
  background: #F7F7F7;
  margin-bottom: 16px;
}

.item-report:last-child {
  margin-bottom: 0;
}

.item-report__header {
  padding: 16px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.item-report__header:after {
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 0 14px;
  flex: 0 0 14px;
  width: 14px;
  height: 14px;
  margin-left: 20px;
  margin-bottom: 1px;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.item-report__header.open:after {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

.item-report__body {
  padding: 24px;
  display: none;
}

.item-report__prev span {
  font-size: 20px;
  color: #606060;
}

.item-report__prev ul {
  margin: 24px 0;
}

.item-report__prev ul li {
  padding: 16px 24px;
  background: #fff;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item-report__prev ul li:last-child {
  margin-bottom: 0;
}

.item-report__prev ul li:before {
  content: none;
}

.item-report__prev ul li a {
  color: #5C6DFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0;
  margin-left: 20px;
}

.item-report__prev ul li a:hover {
  color: #ff7600;
}

.item-report__prev ul li a:hover:after {
  border-color: #ff7600;
}

.item-report__prev ul li a:after {
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 0 6px;
  flex: 0 0 6px;
  width: 6px;
  height: 6px;
  margin: 2px 0 0 10px;
  border-bottom: 2px solid #5C6DFF;
  border-right: 2px solid #5C6DFF;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.item-report__prev ul li h4 {
  margin: 0;
}

.item-report__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.dev-footer span {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  margin-right: 10px;
}

.dev-footer a {
  border-bottom: 0;
}

.dev-footer svg {
  fill: #fff;
  width: 63px;
  height: 27px;
}

@media screen and (max-width: 1400px) {
  .header-spacer.static {
    margin-bottom: 40px;
  }

  .this-touch .menu-item svg {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    margin: 0 0 7px 0;
  }
}

@media (max-width: 1300px) {
  .tab-page__inner {
    position: relative;
  }

  .tab-page__inner:before,
  .tab-page__inner:after {
    content: "";
    position: absolute;
    top: 2px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .tab-page__inner:before {
    height: 50px;
    width: 44px;
    right: 0;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #ffffff), to(#fff));
    background: -o-linear-gradient(left, transparent, #ffffff 50%, #fff);
    background: linear-gradient(to right, transparent, #ffffff 50%, #fff);
  }

  .tab-page__inner:after {
    height: 53px;
    width: 30px;
    right: 5px;
    background: url(../img/icons/scroll.svg) center/contain no-repeat;
    -webkit-animation: scroll 3s linear infinite;
    animation: scroll 3s linear infinite;
  }

  .tab-page__inner.scrollend:before,
  .tab-page__inner.scrollend:after {
    opacity: 0;
  }
}

@media screen and (max-width: 1300px) and (max-width: 1400px) {
  .tab-page__inner:after {
    width: 25px;
  }
}

@media (max-width: 1200px) {
  h3,
  .h3 {
    font-size: 26px;
  }

  .menu-item svg {
    -webkit-transform: scale(0.65);
    -ms-transform: scale(0.65);
    transform: scale(0.65);
    margin: 0 0 2px 2px;
  }
}

@media (max-width: 991px) {
  h3,
  .h3 {
    font-size: 20px;
  }

  .tab-page__nav a {
    font-size: 16px;
  }

  .tab-page__block {
    padding: 10px;
  }

  .tab-page__block p,
  .tab-page__block li {
    font-size: 16px;
  }

  .item-report__header:after {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 9px;
    flex: 0 0 9px;
    width: 9px;
    height: 9px;
    border-width: 2px;
  }

  .item-report__prev span {
    font-size: 16px;
  }

  .item-report__prev ul li {
    display: block;
  }

  .item-report__prev ul li a {
    margin: 16px 0 0;
  }
}

@media (max-width: 860px) {
  .item-report__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .item-report {
    margin-bottom: 8px;
  }

  .item-report__header {
    padding: 16px;
  }

  .item-report__body {
    padding: 16px;
  }
}

@media (max-width: 450px) {
  .item-report__grid {
    grid-template-columns: 1fr;
    max-width: 300px;
    margin: 0 auto;
  }
}